In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [10]:
data=pd.read_csv('traductions_2.csv')

In [11]:
data.head()

  client_id;"name";"prenom";"telephone";"traduction_id";"created_at";"id_document";"document";"prix";"langue";"nbcopie"
0  546;"REBAHI";"AMINE";"0558500659";"701";"2021-...
1  547;"BOUCHAFAA";"AMAR";"0770130202";"702";"202...
2  543;"DEGHOUL";"MOHAMED";"0542764940";"697";"20...
3  544;"MAHDADI";"ZHOUR";"0550478415";"698";"2021...
4  545;"DINE";"AHMED";"0554780334";"700";"2021-10...