In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [15]:
data=pd.read_csv('traductions_2.csv',sep=';')

In [17]:
data.head()

,client_id,name,prenom,telephone,traduction_id,created_at,id_document,document,prix,langue,nbcopie
0,546,REBAHI,AMINE,558500659,701,2021-10-02 14:14:38,25,Certificat Médical,1200,fr->arb,1
1,547,BOUCHAFAA,AMAR,770130202,702,2021-10-02 14:26:58,40,Registre de Commerce,5000,arb->fr,1
2,543,DEGHOUL,MOHAMED,542764940,697,2021-10-02 15:46:12,107,CONTRAT DE TRAVAIL,1400,fr->arb,4
3,544,MAHDADI,ZHOUR,550478415,698,2021-10-03 13:14:34,28,Certificat De Travail,1000,arb->fr,1
4,545,DINE,AHMED,554780334,700,2021-10-03 14:09:26,1,attestation de travail,1500,arb->fr,1