In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [4]:
data=pd.read_csv('traductions.csv',sep=',')

In [5]:
data.head(10)

,546,REBAHI,AMINE,0558500659,701,2021-10-02 14:14:38,25,Certificat Médical,1200,fr->arb,1
0,547,BOUCHAFAA,AMAR,770130202,702,2021-10-02 14:26:58,40,Registre de Commerce,5000,arb->fr,1
1,543,DEGHOUL,MOHAMED,542764940,697,2021-10-02 15:46:12,107,CONTRAT DE TRAVAIL,1400,fr->arb,4
2,544,MAHDADI,ZHOUR,550478415,698,2021-10-03 13:14:34,28,Certificat De Travail,1000,arb->fr,1
3,545,DINE,AHMED,554780334,700,2021-10-03 14:09:26,1,attestation de travail,1500,arb->fr,1
4,555,CHERIGUI,MOUNIR,550262263,709,2021-10-04 07:30:00,4,Relevé de notes,1500,arb->fr,2
5,548,SEHILI,AMEL,555369007,703,2021-10-04 08:28:45,22,CERTIFICAT DE SCOLARITÉ,1500,fr->arb,1
6,548,SEHILI,AMEL,555369007,703,2021-10-04 08:28:45,4,Relevé de notes,1500,fr->arb,1
7,556,0809,slimane,774701881,710,2021-10-05 07:33:28,1,attestation de travail,1500,arb->fr,1
8,554,AHMED,BENYAHIA,776186142,712,2021-10-05 07:39:30,4,Relevé de notes,5000,arb->fr,1
9,554,AHMED,BENYAHIA,776186142,712,2021-10-05 07:39:30,5,Diplome BAC,1500,arb->fr,1

In [6]:
data.shape

(1002, 11)

We notice that we have 675 line and 11 columns

In [42]:
data.describe()

,client_id,telephone,traduction_id,id_document,prix,nbcopie
count,675.000000,6.750000e+02,675.000000,675.000000,675.000000,675.000000
mean,784.354074,6.159748e+08,990.880000,28.771852,1609.111111,3.068148
std,137.798461,4.014811e+08,165.497081,29.975630,1122.825275,5.420708
min,543.000000,0.000000e+00,697.000000,1.000000,200.000000,1.000000
25%,670.500000,5.514109e+08,847.500000,7.000000,1200.000000,1.000000
50%,782.000000,5.598923e+08,989.000000,20.000000,1500.000000,1.000000
75%,905.500000,7.714361e+08,1134.500000,40.000000,1500.000000,3.000000
max,1025.000000,7.789849e+09,1274.000000,116.000000,20000.000000,53.000000

In [43]:
y=data['langue']
y

0       fr->arb
1       arb->fr
2       fr->arb
3       arb->fr
4       arb->fr
         ...
670     fr->arb
671     fr->arb
672     fr->arb
673    arb->ang
674     fr->arb
Name: langue, Length: 675, dtype: object

In [46]:
encoder=LabelEncoder()
encoder.fit_transform(y)

array([5, 3, 5, 3, 3, 3, 5, 5, 3, 3, 3, 3, 3, 1, 3, 2, 3, 3, 5, 5, 5, 5,
       5, 5, 5, 3, 3, 2, 5, 3, 5, 5, 3, 5, 3, 5, 5, 3, 5, 5, 5, 3, 2, 5,
       3, 3, 2, 3, 2, 2, 2, 3, 5, 3, 3, 5, 5, 5, 3, 5, 3, 5, 2, 5, 2, 5,
       5, 3, 5, 5, 5, 5, 2, 5, 0, 5, 3, 5, 2, 3, 5, 5, 3, 3, 5, 5, 5, 4,
       3, 5, 5, 5, 5, 5, 5, 5, 3, 5, 3, 3, 5, 2, 3, 5, 3, 4, 5, 5, 3, 3,
       5, 5, 5, 3, 5, 5, 5, 3, 3, 3, 3, 5, 3, 2, 5, 5, 5, 3, 3, 3, 5, 5,
       3, 5, 5, 3, 3, 3, 2, 3, 5, 2, 3, 3, 3, 2, 0, 1, 5, 5, 5, 5, 5, 5,
       3, 5, 5, 3, 5, 3, 5, 5, 5, 5, 5, 5, 3, 5, 5, 5, 5, 5, 3, 3, 5, 5,
       5, 3, 5, 5, 5, 5, 5, 5, 5, 3, 3, 5, 5, 2, 5, 5, 5, 5, 3, 3, 3, 5,
       5, 3, 3, 4, 3, 4, 3, 3, 5, 3, 3, 3, 5, 2, 2, 3, 5, 4, 5, 3, 5, 3,
       3, 3, 5, 5, 3, 3, 5, 3, 2, 3, 3, 3, 5, 4, 3, 3, 3, 3, 3, 5, 3, 5,
       3, 5, 5, 3, 3, 4, 3, 3, 3, 3, 3, 3, 5, 5, 5, 5, 3, 3, 3, 3, 5, 5,
       3, 3, 2, 3, 3, 3, 2, 5, 5, 5, 5, 5, 3, 3, 5, 3, 3, 3, 3, 3, 5, 0,
       2, 3, 5, 3, 3, 3, 3, 4, 4, 3, 3, 3, 5, 2, 4, 5, 5, 3, 3, 3, 3, 3,
       3, 5, 5, 3, 5, 2, 3, 5, 5, 3, 3, 2, 3, 3, 3, 5, 5, 5, 5, 4, 5, 1,
       5, 3, 3, 3, 5, 4, 3, 5, 5, 3, 5, 5, 3, 5, 3, 2, 4, 3, 5, 3, 3, 5,
       5, 5, 5, 3, 5, 3, 5, 3, 3, 5, 2, 3, 3, 3, 2, 5, 3, 5, 5, 4, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 5, 3, 3, 5, 3, 5, 5, 3, 2, 3,
       2, 5, 3, 3, 3, 5, 5, 5, 2, 3, 5, 3, 3, 5, 3, 3, 2, 5, 5, 2, 5, 5,
       3, 3, 5, 3, 5, 2, 3, 2, 2, 3, 5, 5, 2, 3, 3, 3, 3, 3, 3, 3, 2, 3,
       3, 3, 3, 5, 3, 3, 3, 2, 5, 5, 3, 5, 5, 5, 5, 5, 2, 5, 5, 3, 3, 2,
       4, 2, 5, 5, 5, 5, 5, 5, 5, 3, 3, 3, 3, 3, 5, 5, 5, 2, 3, 2, 2, 4,
       5, 5, 5, 3, 3, 3, 3, 3, 5, 3, 5, 5, 5, 3, 3, 3, 3, 4, 3, 3, 3, 3,
       3, 4, 4, 4, 3, 5, 3, 5, 5, 3, 5, 3, 3, 5, 2, 5, 3, 5, 2, 3, 5, 3,
       5, 5, 5, 5, 5, 3, 3, 5, 4, 5, 5, 2, 3, 3, 3, 3, 2, 2, 2, 3, 3, 2,
       5, 5, 2, 2, 3, 3, 3, 5, 3, 3, 3, 5, 5, 5, 3, 3, 3, 5, 3, 3, 3, 5,
       3, 3, 5, 3, 3, 3, 5, 5, 3, 5, 4, 1, 3, 5, 5, 2, 3, 5, 3, 3, 3, 5,
       3, 3, 3, 5, 5, 5, 2, 2, 2, 5, 3, 5, 5, 5, 5, 5, 5, 5, 5, 5, 3, 3,
       2, 3, 3, 4, 3, 5, 4, 5, 5, 5, 5, 4, 3, 2, 2, 2, 5, 5, 5, 3, 5, 5,
       5, 5, 5, 3, 2, 4, 2, 2, 3, 3, 3, 2, 2, 3, 5, 5, 5, 3, 3, 1, 3, 3,
       5, 5, 3, 5, 5, 4, 3, 5, 5, 3, 5, 5, 5, 2, 5])

In [10]:
data.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
670    False
671    False
672    False
673    False
674    False
Length: 675, dtype: bool

In [19]:
DocGoup=data.groupby(data['document'])
DocGoup.head()

,client_id,name,prenom,telephone,traduction_id,created_at,id_document,document,prix,langue,nbcopie
0,546,REBAHI,AMINE,558500659,701,2021-10-02 14:14:38,25,Certificat Médical,1200,fr->arb,1
1,547,BOUCHAFAA,AMAR,770130202,702,2021-10-02 14:26:58,40,Registre de Commerce,5000,arb->fr,1
2,543,DEGHOUL,MOHAMED,542764940,697,2021-10-02 15:46:12,107,CONTRAT DE TRAVAIL,1400,fr->arb,4
3,544,MAHDADI,ZHOUR,550478415,698,2021-10-03 13:14:34,28,Certificat De Travail,1000,arb->fr,1
4,545,DINE,AHMED,554780334,700,2021-10-03 14:09:26,1,attestation de travail,1500,arb->fr,1
...,...,...,...,...,...,...,...,...,...,...,...
619,912,DJELMANI,KHALED,561005907,1226,2022-02-06 15:11:26,26,Lettre Administrative,1000,fr->ang,2
622,996,KHELIFATI,AMINA,540619667,1229,2022-02-07 08:57:24,84,DOSSIER MEDICAL,1000,fr->ang,9
627,999,ADDALA,ABDELMALEK,550234688,1234,2022-02-08 13:54:47,115,DOSSIER ADMINISTRATIF,1500,fr->ang,6
634,1004,YACOUB,NADINE,697613912,1240,2022-02-09 16:09:25,19,Procuration,1500,fr->arb,1
653,1014,MOKRANI,MOHAMED,771568388,1257,2022-02-14 10:48:27,70,fiche familiale,2000,fr->arb,1